name: CodeChange
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout local files
        uses: actions/checkout@v4

      - name: Clone target repo
        run: git clone https://github.com/NowhereArchive/NowhereCGs.git target_repo

      - name: Add
        shell: pwsh
        run: |
          mkdir target_repo/CGs/2026
          Get-ChildItem . -Include *.png | Copy-Item -Destination 'target_repo/CGs/2026'

      - name: Repush
        shell: bash
        run: |
          cd target_repo
          git config user.name "NowhereArchive"
          git config user.email "178385478+NowhereArchive@users.noreply.github.com"
          
          # Set remote to your destination repo
          git remote set-url origin https://x-access-token:${{ secrets.PUSH_TOKEN }}@github.com/NowhereArchive/NowhereCGs.git
          git add .
          # Check if there are changes before committing to avoid errors
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Updates"
            git push origin main
          else
            echo "No changes to commit"
          fi