name: CodeChange
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout local files
        uses: actions/checkout@v4

      - name: Clone target repo
        run: git clone https://github.com/aelurum/AssetStudio.git target_repo

      - name: Copy and Overwrite
        shell: bash
        run: |
          cp -f BundleNameParser.cs target_repo/AssetStudioGUI/
          cp -f Studio.cs target_repo/AssetStudioGUI/
          cp -f Live2DModelGroupOption.cs target_repo/AssetStudioUtility/CubismLive2DExtractor/
          cp -f build.yml target_repo/.github/workflows/

      - name: Repush
        shell: bash
        run: |
          cd target_repo
          git config user.name "NowhereArchive"
          git config user.email "178385478+NowhereArchive@users.noreply.github.com"
          
          # Set remote to your destination repo
          git remote set-url origin https://x-access-token:${{ secrets.PUSH_TOKEN }}@github.com/NowhereArchive/AssetStudio.git
          git branch -M main
          git add .
          # Check if there are changes before committing to avoid errors
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Updates"
            git push origin main
          else
            echo "No changes to commit"
          fi